name: Update Sitemap Datum

on:
  push:
    branches: [ main ]

permissions:
  contents: write  # Nodig om te pushen

jobs:
  update:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v4

      - name: Update sitemap.xml datum
        run: |
          $date = Get-Date -Format "yyyy-MM-dd"
          (Get-Content .\dynamo\sitemap.xml) -replace '<lastmod>.*?</lastmod>', "<lastmod>$date</lastmod>" | Set-Content .\dynamo\sitemap.xml -Encoding UTF8

      - name: Commit & push
        run: |
          git config user.name "GitHub Actions"
          git config user.email "actions@github.com"
          git add dynamo/sitemap.xml
          git commit -m "Update sitemap lastmod" || exit 0
          git push